
#one, #two {
  width: 100px;
  height: 100px;
  background-color: red;
  opacity: 0;
  animation-fill-mode: forwards;
}

#one {
  animation-name: example;
  animation-duration: 4s;
}
#two {
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
}

#three {
opacity: 0;
  animation-name: example;
  animation-duration: 2s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}


